.link{
	margin: 1em;
	text-decoration: none;
	color: #aaa;
	transition: 500ms;
}

.link:after{
	content: "";
	display: block;
	border: 2px solid transparent;
	transition: 500ms;
}

.link:hover{
	color: #fff;
}

.active{
	color: white;
}

.active:after{
	border-color: white;
	margin-top: 8px;
}

#cover{
	height: 600px;
	background-image: url("../images/images (3).jpeg");
	background-size: cover;
	padding-top: 300px;

}

.about-link{
	text-decoration: none;
}