nav{
	background: black!important;
	color: #eee!important;
	border-bottom: 2px solid white;
}

.link{
	text-decoration: none;
	color: #aaa!important;
	transition: 500ms;
	margin-right: 2em;
}
.link:after{
	content: "";
	display: block;
	border: 2px solid transparent;
	transition: 500ms;
}

.link:hover{
	color: #fff;
}

.active{
	color: white!important;
}

.active:after{
	border-color: white;
	margin-top: 8px;
}

#cover{
	padding-top: 300px;
	height: 380px;
	margin-top: 6.5em;
	margin-bottom: 15em;
	position: relative;
}

#cover:after{
	content: "";
	position: absolute;
	height: 160%;
	z-index: -1;
	inset: 0;
	opacity: 0.7;
	background-image: url("../images/images (3).jpeg");
	background-size: cover;
}

.about-link{
	text-decoration: none;
}

.project{
	height: 300px;
	border: 1px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	transition: 500ms;
}

.project:hover{
	color: #eee;
}

footer{
	background: #000;
}

#email-link{
	text-decoration: none;
}